# Habilitar mod_rewrite
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Permitir acesso a todos os arquivos da pasta api/
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    # Se o diretório existe, permitir acesso
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
</IfModule>

# Definir arquivos de índice padrão
DirectoryIndex index.php index.html
